/** @format */

.section6 {
	margin-block: 100px;
	display: flex;
	justify-content: center;
	gap: 100px;
	align-items: center;
	.info {
		width: 550px;
		height: 560px;
		h1 {
			font-family: sans-serif;
			width: 450px;
			font-weight: 500;
			font-style: Medium;
			font-size: 44px;
			line-height: 44px;
			letter-spacing: 0%;
			margin-bottom: 30px;
			opacity: 0.9;
			animation: appearance 1s ease-in-out forwards;
		}
		h2 {
			width: 168px;
			margin-bottom: 30px;
			height: 42px;
			font-size: 15px;
			font-family: sans-serif;
			text-align: center;
			opacity: 0.9;
			border-radius: 100px;
			padding-top: 14px;
			animation: appearance 1s ease-in-out forwards;
			padding-right: 26px;
			padding-bottom: 10px;
			padding-left: 16px;
			background: fixed #f0e71433;
		}
		p {
			font-family: sans-serif;
			font-weight: 400;
			margin-bottom: 30px;
			font-style: Regular;
			animation: appearance 1s ease-in-out forwards;
			width: 450px;
			font-size: 16px;
			opacity: 0.7;
			line-height: 24px;
			letter-spacing: -1.1%;
		}
		h3 {
			ion-icon {
				color: black;
				opacity: 1;
			}
			font-family: sans-serif;
			font-weight: 500;
			margin-bottom: 24px;
			font-style: Medium;
			animation: appearance 1s ease-in-out forwards;
			opacity: 0.8;
			color: #555c68;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0%;
		}
	}
	.regist {
		background: #101c26;
		width: 650px;
		height: 560px;
		border-radius: 10px;
		padding: 90px;
		.reg {
			input {
				width: 100%;
				height: 40px;
				border-radius: 10px;
				border: none;
				background: #101c2600;
				color: white;
				margin-bottom: 20px;
				padding-left: 10px;
				font-family: Inter;
				font-weight: 500;
				font-style: Medium;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0%;
				opacity: 0.8;
			}
			input::placeholder {
				color: white;
				opacity: 0.8;
				font-family: Inter;
				font-weight: 500;
				font-style: Medium;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0%;
				opacity: 0.8;
			}
			input::-webkit-input-placeholder {
				color: white;
				opacity: 0.8;
				font-family: Inter;
				font-weight: 500;
				font-style: Medium;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0%;
				opacity: 0.8;
			}
			input::-moz-placeholder {
				color: white;
				opacity: 0.8;
				font-family: Inter;
				font-weight: 500;
				font-style: Medium;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0%;
				opacity: 0.8;
			}
			input::-ms-input-placeholder {
				color: white;
				opacity: 0.8;
				font-family: Inter;
				font-weight: 500;
				font-style: Medium;
				font-size: 24px;
				line-height: 24px;
				letter-spacing: 0%;
				opacity: 0.8;
			}
			input:hover {
				outline: none;
				border: 1px solid #ffffff;
				color: #ffffff;
				opacity: 1;
			}
			input:focus {
				outline: none;
			}
			div {
				width: 350px;
				height: 2px;
				background: #616161;
				margin-bottom: 10px;
				margin-top: -5px;
			}
		}
		button {
			width: 150px;
			margin-top: 40px;
			height: 40px;
			border-radius: 20px;
			border: none;
			background: #f0e714;
			color: #101c26;
			padding-left: 0;
			font-weight: 400;
			font-style: Medium;
			font-size: 17px;
			line-height: 24px;
			letter-spacing: 0%;
		}
	}
}
@keyframes appearance {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
