.contact {
    padding: 80px 100px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
            
.contact-info {
    padding-block: 30px;
    width: 700px;
}

.tag {
    display: inline-block;
    background: #f2f5a9;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 20px;
}

.contact-info h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #555;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-form {
    background: #0f1722;
    padding: 40px;
    border-radius: 12px;
    width: 400px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 10px 0;
    margin-bottom: 25px;
    color: #fff;
}

.contact-form textarea {
    resize: none;
    height: 80px;
}

.contact-form button {
    background: #f2f54a;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}