/** @format */

#section-1 {
	background: #101c26;
	padding: 100px 80px 10px 80px;
}
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.header-text h1 {
	font-size: 76px;
	font-weight: 700;
	line-height: 1.2;
	color: #ffffff;
	margin-block: 20px;
	font-family: sans-serif;
}

.header-text p {
	margin-block: 20px;
	font-size: 16px;
	color: #bfc7d5;
	line-height: 1.6;
}

.hero-buttons {
	display: flex;
	align-items: center;
	gap: 25px;
	margin-block: 20px;
}

.button-h1 {
	background: #ffe600;
	border: none;
	padding: 14px 26px;
	border-radius: 30px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	color: #000;
	font-size: 15px;
	font-family: sans-serif;
	transform: 0.3s ease-in-out;
}

.button-h1:hover {
	color: #000;
	background: #ffffff;
	transition: 0.3s ease-in-out all;
}

.button-h1 ion-icon {
	font-size: 18px;
}

.button-h2 {
	background: transparent;
	border: none;
	color: #ffffff;
	display: flex;
	align-items: center;
	padding: 12px 24px;
	gap: 8px;
	font-size: 16px;
	cursor: pointer;
	font-family: sans-serif;
	transition: transform 0.3s ease;
	border-radius: 30px;
}

.button-h2:hover {
	ion-icon {
		color: #000;
	}
	color: #000;
	background: #ffffff;
	transition: 0.3s ease all;
}

.button-h2 ion-icon {
	font-size: 30px;
	color: #ffffff;
}

.textteredr {
	display: flex;
	gap: 70px;
	margin-top: 30px;
}

.textteredr h4 {
	font-size: 38px;
	font-weight: 700;
	color: #ffe600;
}

.textteredr span {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	color: #bfc7d5;
}

.hero img {
	width: 50%;
	height: auto;
	border-radius: 16px;
	box-shadow: 0 30px 80px rgba(0, 0, 0, 0.45);
	/* animation: photo-1 2s ease-in-out alternate; */
}
/* @keyframes photo-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
} */

.photo-2 {
	position: absolute;
	right: 45%;
	top: 400px;
	width: 180px;
	z-index: 3;
}

.photo-2 img {
	width: 100%;
	height: auto;
	border-radius: 14px;
	object-fit: cover;
	box-shadow: 0 18px 45px rgba(0, 0, 0, 0.35);
	animation: floatPhoto 4s ease-in-out infinite;
}
@keyframes floatPhoto {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.end-photo {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
}
.end-photo img {
	width: 12%;
	height: 10%;
	animation: floatimg 4s ease-in-out infinite;
}
@keyframes floatimg {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
