/** @format */

#section2 {
	padding: 100px 0;
}

#section2 .container {
	display: flex;
	align-items: center;
	gap: 80px;
}

#section2 .sec3 img {
	width: 100%;
	border-radius: 20px;
	display: block;
	box-shadow: 0 30px 80px rgba(0, 0, 0, 0.45);
	animation: float 2s ease-in-out infinite;
	z-index: 1;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

#section2 .bagch {
	position: absolute;
	top: 500px;
	bottom: -40px;
	left: -40px;
}

#section2 .bagch img {
	width: 160px;
}

#section2 .textt {
	z-index: 2;
	max-width: 600px;
	animation: start 1s ease-in-out forwards;
}

#section2 .buttonn-1 {
	background: #f5f5d8;
	border: none;
	animation: start 1s ease-in-out forwards;
	padding: 10px 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

#section2 .textt h1 {
	font-size: 42px;
	line-height: 1.2;
	margin-bottom: 20px;
	font-weight: 600;
	font-family: sans-serif;
	animation: start 1s ease-in-out forwards;
}

@keyframes start {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

#section2 .textt p {
	font-size: 16px;
	color: #666;
	line-height: 1.6;
	animation: start 1s ease-in-out forwards;
	margin-bottom: 30px;
}

#section2 .buttonn-2 {
	background: #111;
	color: #f0e714;
	padding: 14px 26px;
	border-radius: 30px;
	font-size: 16px;
	display: flex;
	animation: start 1s ease-in-out forwards;
	align-items: center;
}
